###
# This file is only here to make sure that something like
#
#    pip install -e .
#
# works as expected. Requirements can be found in setup.py.
###

numpy>=1.24.3
pillow
onnxruntime>=1.15.0,<1.17
torch>=1.8.1,<1.13
torchvision>=0.9.1,<0.14

.
